
body {
    font-family: Arial,sans-serif;
    background-color: #f8f8f8;
    color:#333;
    margin:0; padding:0;
    text-align:center;
}


header{
    background-color:#ff5733;
    color:white;padding:20px;
}

h1 {
    font-size:32px;
    margin: 0;
}

p {font-size: 18px;
}


section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px; border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

h2,    h3 {
    color:#d35400/*orange*/;
    text-align:center}

ul {
    list-style:square;
    padding-left:  30px; 
}

strong {color: #e74c3c;
}


img {display: block;margin: 10px auto;
    border-radius: 10px; width: 100%; max-width: 300px;}


a {
    color:#2980b9/*blue*/; text-decoration:none; font-weight: bold;
}



a:hover {
    color: #e74c3c;
    text-decoration: underline;
}

footer {  color:
white ; background:#333;
    text-align: center;
    padding: 10px ;
}

address {
    font-style: normal;
    background-color: #ecf0f1;
    padding: 10px; border-radius: 5px;
}